In [ ]:
# data 폴더에 Abc1115.csv를 읽어서 2차원 리스트에 저장하는 코드 작성하시요
# 저장될 때 각 데이터의 타입은 문제에서 주어진 대로 하시오.
# 1.파일에서 모든 라인을 가져온다.
# 2.한줄을 가져온다.
# 3.가져온 한줄을 분리한다.(콤마로 분리)
# 4.분리된 데이터를 타입에 맞추어 분리한다
# 5.분리한 데이터를 리스트에 저장한다.
# 6.리스트를 리스트에 저장한다.
# 7.가지고 있는 줄(1000) 만큼 반복한다.

In [1]:
#파일에서 모든 라인을 가져온다.
#1. 파일에 연결한다.(파일의 위치와 쓰기/읽기 등을 입력한다.)
with open('.\data\Abc1115.csv','r') as file:
    #1-1. 파일안의 컨텐츠에 연결하여 모든 라인을 가져온다.
    lines = file.readlines()
    
print(len(lines))

1000

In [16]:
#한줄을 가져온다.
#1. lines에서 가져와야 한다. 
#2. lines 리스트이다. 따라서 첫번째 요소를 가져와야 한다는 것
#3. 표기법과 인덱스
#4. 리스트변수명[인덱스] -> 요소값을 리턴
#4-1 리스트변수명[시작인덱스:마지막+1인덱스] -> 리스트로 리턴
#4-2 제일 마지막의 \n가 필요없으므로 나중에 분리 처리할 때 삭제예정
lines[0:1]

['990001,addx, 17, 29, 16, 49, 43,154,C,A,C\n']

In [22]:
#가져온 한줄을 콤마로 분리한다.
for temp in lines[0:1]:
    print(temp[:-1].split(','))

['990001', 'addx', ' 17', ' 29', ' 16', ' 49', ' 43', '154', 'C', 'A', 'C']
['990002', 'stch', ' 30', '  9', ' 48', ' 25', ' 81', '193', 'C', 'A', 'A']

In [23]:
oneLine = lines[0]
print(oneLine[:-1].split(','))

['990001', 'addx', ' 17', ' 29', ' 16', ' 49', ' 43', '154', 'C', 'A', 'C']

In [28]:
data = []
for line in lines:
    aa=[]
    temp = line[:-1].split(',')
    #print(temp)
    aa.append(int(temp[0]))
    aa.append(temp[1])
    for ele in temp[2:-3]:
        aa.append(int(ele))
    for i in temp[-3:]:
        aa.append(i)
    #print(aa)
    data.append(aa)

In [29]:
data[0:5]

[[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C'],
 [990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A'],
 [990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A'],
 [990004, 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C'],
 [990005, 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A']]

In [31]:
#최대값
quiz2Max = 0
for student in data:
    quiz2Temp = student[2]+student[3]
    if student[10]=='B':
        if quiz2Max < quiz2Temp:
            quiz2Max = quiz2Temp
        


print(quiz2Max)

0

In [33]:
#최소값
quiz2Min = data[0][2]+data[0][3]
for student in data[1:]:
    quiz2Temp = student[2]+student[3]
    if student[10]=='B':
        if quiz2Min > quiz2Temp:
            quiz2Min = quiz2Temp
        


print(quiz2Min)

9

In [35]:
#영어+수학점수 120점 이상인 자료에 대해 총점+점수포인트의 누계
#120이상인 자료의 건수를 출력하시오.
quiz3Answer = 0
count = 0
for student in data:
    #영어+수학점수 120 이상자료
    if student[3]+student[4] >= 120:
        count = count + 1
        # 총점+점수포인트
        point = 5
        if student[9]=='B':
            point = 15
        elif student[9]=='C':
            point = 20
        quiz3Answer = quiz3Answer + (student[7]+point)
    pass
print(quiz3Answer,count)

99549 316

In [36]:
#4번 문제
#포인트는 지역코드에 따라 5,10,15
count = 0 
for student in data:
#성취도가 A, B인 자료에 대해서  
    if student[9]=='A' or student[9]=='B':
        point = 5
        if student[10]=='B':
            point = 10
        elif student[10]=='C':
            point = 15
#국어점수 + 포인트 >= 50 인
        if student[2]+point >=50:
             #자료건수
            count = count + 1
print(count)

397

In [39]:
#4번 문제
#1.학생들의 정보가 전제조건 (data) - 리스트(11개)
#2.문제에 등장하는 자료가 몇번째 인덱스인지 파악한다.
#3.data 전체자료를 가지고 조건에 따라 학생정보를 선택하여 사용하므로 for, if 적절하게 사용
count = 0
for student in data:
    if student[9]=='A' or student[9]=='B':
        point = 15
        if student[10]=='A':
            point = 5
        elif student[10]=='B':
            point = 10
            
        if student[2]+point >= 50:
            count = count + 1
    pass
print(count)
#성취도가 A, B인 자료에 대해서 
#포인트는 지역코드에 따라 5,10,15
#국어점수 + 포인트 >= 50 인
#자료건수

397