In [1]:
#키보드로 부터 출력할 월을 입력받아 변수(mon)에 대입한다.
#int형으로 변환하는 것은 없다.(마지막날과 빈칸의 데이터를 찾는 키)
#입력안내에 대한 내용도 없다.(월을 입력하세요 >>> )
mon = int(input('월을 입력하세요 >>> '))
#출력할 년도(2024)를 변수(year)에 대입한다.
year = 2024
#출력할 년도의 마지막 날(12개월)을 리스트에 저장하여 변수(lastDays)에 대입한다.
lastDays = [31,28,31,30,31,30,31,31,30,31,30,31] 
#입력받은 월이 2월인지 확인한다(if)
if mon==2:
#2월 이면 윤년인지 검사한다.
#윤년이란
#400나누어 떨어지거나
#4로 나누어 떨어지고 100으로 나누어 떨어지지 않아야 한다.
    if year%400==0 or (year%4==0 and year%100!=0):
#윤년이면 2월에 해당하는 날을 리스트에서 찾아 29일로 수정한다.
        lastDays[1] = 29    
#24년 각 월의 빈칸을 리스트에 저장하여 변수(spaces)에 대입한다.
spaces = [1,4,5,1,3,6,1,4,0,2,5,0]
#입력받은 월의 빈칸을 리스트에서 찾아 변수에 대입한다.
space = spaces[mon-1]
#입력받은 월의 마지막 날을 리스트에서 찾아 변수에 대입한다.
lastDay = lastDays[mon-1]
#년도와 월을 출력한다.
print('\t\t\t2024년 ',mon,'월')
#요일을 출력한다.
print('일','월','화','수','목','금','토',sep='\t',end='\n')
#1일을 변수에 대입한다.
day = 1
#빈칸의 수만큼 탭을 반복한다. 
for _ in range(space):
#탭을 출력한다.
    print('\t',end='')
#마지막날의 수만큼 반복한다.
for _ in range(lastDay):
#날을 출력한다.
    print(day,end='\t')
#빈칸과 날의 합이 7인지 확인한다.
    if (space+day)%7==0:
#7이면 한 줄을 띄운다.
        print()
#날을 하루 증가한다.
    day = day + 1

월을 입력하세요 >>>  2

			2024년  2 월
일	월	화	수	목	금	토
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29

In [19]:
from datetime import datetime
mon = int(input('월을 입력하세요 >>> '))
year = 2024
#빈칸 정보를 얻기위해 datetime모듈의 datetime 객체사용
now = datetime(year,mon,1)

lastDays = [31,28,31,30,31,30,31,31,30,31,30,31]
if mon==2:
    if year%400==0 or (year%4==0 and year%100!=0):
        lastDays[1] = 29    
#요일 정보와 빈칸정보의 비교를 통해서 +1을 하면 빈칸 데이터가 나옴
space = (now.weekday()+1) % 7
#print(space)
lastDay = lastDays[mon-1]
print('\t\t\t2024년 ',mon,'월')
print('일','월','화','수','목','금','토',sep='\t',end='\n')
day = 1
for _ in range(space):
    print('\t',end='')
for _ in range(lastDay):
    print(day,end='\t')
    if (space+day)%7==0:
        print()
    day = day + 1

월을 입력하세요 >>>  9

			2024년  9 월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30

In [2]:
import datetime

In [3]:
now = datetime.datetime.today()
print(now)

2024-07-04 11:08:05.751621

In [4]:
now.day

4

In [5]:
now.month

7

In [6]:
now.weekday()

3

In [12]:
july = datetime.date(2024,9,1)

In [13]:
print(july.weekday())

6

In [26]:
import random

In [21]:
print(random.random()) #0.0<= r < 1.0

0.5518217190587259

In [24]:
for _ in range(1):
    print(random.randrange(1,46))

1

In [28]:
#중복없이 4자리수(1000~9999)를 생성하는 코드작성하시오
number = random.randrange(1000,10000)
#number를 중복검사한다.
#한자리씩 잘라서 리스트에 넣고 다음 수로 비교하기
print(number)

8444

In [53]:
while True:
    number = random.randrange(1000,10000)
    #set이라는 컬렉션이 있음
    #순서가 없고 중복을 허락하지 않는 데이터 집합
    temp = str(number)
    temp = set(list(temp))
    if len(temp)==4:
        print(number)
        break

5987

In [49]:
number = set(list('8541'))
print(number)

{'4', '1', '5', '8'}

In [30]:
test = set([1,1,2])
print(test)

{1, 2}

In [32]:
test = set(list('hello'))
print(test)

{'h', 'l', 'e', 'o'}

In [56]:
numbers = list('0123456789')
print(numbers)
index = random.randrange(1,10)
print(numbers[index])
del numbers[index]
print(numbers)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
7
['0', '1', '2', '3', '4', '5', '6', '8', '9']

In [60]:
def hello():
    print('a')

    pass

In [61]:
hello()

a

In [64]:
a()

aa

In [63]:
def a():
    print('aa')

In [65]:
def add(a,b): #파라메터 , 가인수, 매개변수
    print(a+b)
    pass

In [73]:
result = add(1,2) #아규먼트, 실인수, 매개변수

3

In [76]:
def plus(a,b):
    return a+b
    c = a +b

In [77]:
result = plus(1,2)

In [78]:
print(result)

3

In [79]:
print(c)

NameError: name 'c' is not defined

In [80]:
def mul(a,b):
    c = a * b
    return c

In [81]:
def add(a,b):
    c = a + b
    print(c)
    d = mul(a,b)
    print(d)

In [82]:
x = 10
y = 20
add(x,y)

30
200

In [ ]:
#달력을 출력하는 코드를 함수로 작성하시오.
#정보처리기사 문제풀이 코드를 함수로 작성하시오

In [86]:
from datetime import datetime
def viewCalendar(year,mon):
    #빈칸 정보를 얻기위해 datetime모듈의 datetime 객체사용
    now = datetime(year,mon,1)
    
    lastDays = [31,28,31,30,31,30,31,31,30,31,30,31]
    if mon==2:
        if year%400==0 or (year%4==0 and year%100!=0):
            lastDays[1] = 29    
    #요일 정보와 빈칸정보의 비교를 통해서 +1을 하면 빈칸 데이터가 나옴
    space = (now.weekday()+1) % 7
    #print(space)
    lastDay = lastDays[mon-1]
    print('\t\t\t',year,'년 ',mon,'월')
    print('일','월','화','수','목','금','토',sep='\t',end='\n')
    day = 1
    for _ in range(space):
        print('\t',end='')
    for _ in range(lastDay):
        print(day,end='\t')
        if (space+day)%7==0:
            print()
        day = day + 1
    
        pass

In [87]:
year = int(input('년을 입력하세요 >>> '))
mon = int(input('월을 입력하세요 >>> '))
viewCalendar(year,mon)

년을 입력하세요 >>>  1999
월을 입력하세요 >>>  12

			 1999 년  12 월
일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

In [93]:
def makeDataFromFile(fileDir,fileName):
    students = []
    with open(fileDir+'\\'+fileName,'r') as file:
        #1-1. 파일안의 컨텐츠에 연결하여 모든 라인을 가져온다.
        lines = file.readlines()
    for line in lines:
        student = []
        # 3.가져온 한줄을 분리한다.(콤마로 분리)
        temp = line[:-1].split(',')
        # 4.분리된 데이터를 타입에 맞추어 분리한다
        stdNo = int(temp[0])
        student.append(stdNo)
        student.append(temp[1])
        for ele in temp[2:8]:
            val = int(ele)
            student.append(val)
        # 5.분리한 데이터를 리스트에 저장한다.
        for ele in temp[8:]:
            student.append(ele)
        # 6.리스트를 리스트에 저장한다.
        students.append(student)
    return students

In [98]:
def solveQuiz1():
    data = makeDataFromFile('.\data','Abc1115.csv')
    quiz1Data = [] #정렬의 대상을 저장할 리스트
    for temp in data:
    #지역코드가 B인 데이터를 quiz1Data에 저장하시오.
        if temp[10] == 'B':
            temp.append(temp[2]+temp[3])
            quiz1Data.append(temp)
        pass
    for index,_ in enumerate(quiz1Data[:-1]):
        for idx,value in enumerate(quiz1Data[index+1:]):
            number = quiz1Data[index][-1]
            if number < value[-1]:
                temp = quiz1Data[index] #number
                quiz1Data[index] = value #i
                quiz1Data[idx+(index+1)] = temp
                #break
            #print(idx,i)
            elif number == value[-1]:
                # 점수가 같을 경우 학번을 오름차순으로 정렬하기
                number = quiz1Data[index][0]
                if number > value[0]:
                    temp = quiz1Data[index] #number
                    quiz1Data[index] = value #i
                    quiz1Data[idx+(index+1)] = temp
                pass
                
            pass

    for student in quiz1Data[10:20]:
        print(student)
    pass

In [90]:
def solveQuiz2():
    students = makeDataFromFile('.\data','Abc1115.csv')
    pass

In [91]:
def solveQuiz3():
    students = makeDataFromFile('.\data','Abc1115.csv')
    pass

In [96]:
def solveQuiz4():
    students = makeDataFromFile('.\data','Abc1115.csv')
    print(len(students))
    for student in students[:5]:
        print(student)
    pass

In [97]:
solveQuiz4()

1000
[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']
[990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A']
[990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A']
[990004, 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C']
[990005, 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A']

In [99]:
solveQuiz1()

[990631, 'jude', 91, 73, 43, 82, 87, 376, 'B', 'C', 'B', 164]
[990747, 'teak', 67, 96, 84, 50, 47, 344, 'C', 'B', 'B', 163]
[990891, 'kimd', 99, 64, 70, 84, 30, 347, 'A', 'C', 'B', 163]
[990935, 'miss', 94, 67, 24, 33, 38, 256, 'C', 'B', 'B', 161]
[990350, 'hjoo', 76, 83, 46, 98, 7, 310, 'B', 'C', 'B', 159]
[990470, 'minh', 79, 80, 98, 19, 46, 322, 'C', 'B', 'B', 159]
[990023, 'tess', 86, 71, 87, 6, 15, 265, 'B', 'C', 'B', 157]
[990217, 'koan', 64, 93, 93, 24, 72, 346, 'B', 'C', 'B', 157]
[990418, 'sad9', 87, 66, 88, 18, 92, 351, 'B', 'A', 'B', 153]
[990424, 'hysu', 81, 72, 23, 64, 27, 267, 'A', 'B', 'B', 153]