In [1]:
#키보드로 부터 출력할 월을 입력받아 변수(mon)에 대입한다.
#int형으로 변환하는 것은 없다.(마지막날과 빈칸의 데이터를 찾는 키)
#입력안내에 대한 내용도 없다.(월을 입력하세요 >>> )
mon = int(input('월을 입력하세요 >>> '))
#출력할 년도(2024)를 변수(year)에 대입한다.
year = 2024
#출력할 년도의 마지막 날(12개월)을 리스트에 저장하여 변수(lastDays)에 대입한다.
lastDays = [31,28,31,30,31,30,31,31,30,31,30,31] 
#입력받은 월이 2월인지 확인한다(if)
if mon==2:
#2월 이면 윤년인지 검사한다.
#윤년이란
#400나누어 떨어지거나
#4로 나누어 떨어지고 100으로 나누어 떨어지지 않아야 한다.
    if year%400==0 or (year%4==0 and year%100!=0):
#윤년이면 2월에 해당하는 날을 리스트에서 찾아 29일로 수정한다.
        lastDays[1] = 29    
#24년 각 월의 빈칸을 리스트에 저장하여 변수(spaces)에 대입한다.
spaces = [1,4,5,1,3,6,1,4,0,2,5,0]
#입력받은 월의 빈칸을 리스트에서 찾아 변수에 대입한다.
space = spaces[mon-1]
#입력받은 월의 마지막 날을 리스트에서 찾아 변수에 대입한다.
lastDay = lastDays[mon-1]
#년도와 월을 출력한다.
print('\t\t\t2024년 ',mon,'월')
#요일을 출력한다.
print('일','월','화','수','목','금','토',sep='\t',end='\n')
#1일을 변수에 대입한다.
day = 1
#빈칸의 수만큼 탭을 반복한다. 
for _ in range(space):
#탭을 출력한다.
    print('\t',end='')
#마지막날의 수만큼 반복한다.
for _ in range(lastDay):
#날을 출력한다.
    print(day,end='\t')
#빈칸과 날의 합이 7인지 확인한다.
    if (space+day)%7==0:
#7이면 한 줄을 띄운다.
        print()
#날을 하루 증가한다.
    day = day + 1

월을 입력하세요 >>>  2

			2024년  2 월
일	월	화	수	목	금	토
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29

In [19]:
from datetime import datetime
mon = int(input('월을 입력하세요 >>> '))
year = 2024
#빈칸 정보를 얻기위해 datetime모듈의 datetime 객체사용
now = datetime(year,mon,1)

lastDays = [31,28,31,30,31,30,31,31,30,31,30,31]
if mon==2:
    if year%400==0 or (year%4==0 and year%100!=0):
        lastDays[1] = 29    
#요일 정보와 빈칸정보의 비교를 통해서 +1을 하면 빈칸 데이터가 나옴
space = (now.weekday()+1) % 7
#print(space)
lastDay = lastDays[mon-1]
print('\t\t\t2024년 ',mon,'월')
print('일','월','화','수','목','금','토',sep='\t',end='\n')
day = 1
for _ in range(space):
    print('\t',end='')
for _ in range(lastDay):
    print(day,end='\t')
    if (space+day)%7==0:
        print()
    day = day + 1

월을 입력하세요 >>>  9

			2024년  9 월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30

In [2]:
import datetime

In [3]:
now = datetime.datetime.today()
print(now)

2024-07-04 11:08:05.751621

In [4]:
now.day

4

In [5]:
now.month

7

In [6]:
now.weekday()

3

In [12]:
july = datetime.date(2024,9,1)

In [13]:
print(july.weekday())

6

In [26]:
import random

In [21]:
print(random.random()) #0.0<= r < 1.0

0.5518217190587259

In [24]:
for _ in range(1):
    print(random.randrange(1,46))

1

In [28]:
#중복없이 4자리수(1000~9999)를 생성하는 코드작성하시오
number = random.randrange(1000,10000)
#number를 중복검사한다.
#한자리씩 잘라서 리스트에 넣고 다음 수로 비교하기
print(number)

8444

In [53]:
while True:
    number = random.randrange(1000,10000)
    #set이라는 컬렉션이 있음
    #순서가 없고 중복을 허락하지 않는 데이터 집합
    temp = str(number)
    temp = set(list(temp))
    if len(temp)==4:
        print(number)
        break

5987

In [49]:
number = set(list('8541'))
print(number)

{'4', '1', '5', '8'}

In [30]:
test = set([1,1,2])
print(test)

{1, 2}

In [32]:
test = set(list('hello'))
print(test)

{'h', 'l', 'e', 'o'}

In [56]:
numbers = list('0123456789')
print(numbers)
index = random.randrange(1,10)
print(numbers[index])
del numbers[index]
print(numbers)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
7
['0', '1', '2', '3', '4', '5', '6', '8', '9']