In [5]:
#두수를 입력받아서 합한 결과를 리턴하는 함수 작성하시오.
def plus(a,b):
    c = a + b
    return c

#두수를 입력받아서 합한 결과를 출력하는 함수 작성하시오.
def hap(a,b):
    c = a + b
    print(c)
#이차원 리스트를 입력받아 지역코드가 B 인 자료에 대하여 (국어점수 + 영어점수) 중 
#가장 큰값을 출력하되,만약 동일 값 발생시는 한번만 출력하시오.(20점)
#함수명 solve1 인 함수를 작성하시오 (로직 비워둔다)

def solve1(data):
    answer = 0
    
    return answer

In [6]:
#plus 호출하시오(사용)
result = plus(10,20)
print(result)
#hap 호출하시오(사용)
hap(10,20)
ans1 = solve1([])
print(ans1)

30
30
0

In [7]:
lambda x : x + 10

In [9]:
def plus_ten(x):
    return x+10

In [13]:
print(map(plus_ten,[1,2,3]))

<map object at 0x0000017412192E60>

In [15]:
print(list(map(lambda x : x + 10,[1,2,3])))

[11, 12, 13]

In [ ]:
map(lambda x : str(x) if x%3==0 else x, a)

In [16]:
def factorial(n):
    if n == 1:
        return 1
    #5!=5X4X3X2X1
    return n*factorial(n-1)

In [19]:
result = factorial(3)
print(result)

6

In [ ]:
#0112358

In [28]:
x = {'a':10,'b':20,'c':30,'d':40}
#for key in x.keys():
    #print(key,x[key])

In [31]:
x['a'] = 100

In [32]:
print(x)

{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [25]:
for value in x.values():
    print(value)

10
20
30
40

In [26]:
for key,value in x.items():
    print(key,value)

a 10
b 20
c 30
d 40

In [33]:
del x['e']

In [34]:
print(x)

{'a': 100, 'b': 20, 'c': 30, 'd': 40}

In [35]:
x = {key:value for key,value in x.items() if value!=20}

In [36]:
print(x)

{'a': 100, 'c': 30, 'd': 40}

In [37]:
def collect_data(name,major,addr='daejeon',age=30):

    pass

In [38]:
def makeDataFromFile(fileDir,fileName):
    students = []
    with open(fileDir+'\\'+fileName,'r') as file:
        #1-1. 파일안의 컨텐츠에 연결하여 모든 라인을 가져온다.
        lines = file.readlines()
    for line in lines:
        student = []
        # 3.가져온 한줄을 분리한다.(콤마로 분리)
        temp = line[:-1].split(',')
        # 4.분리된 데이터를 타입에 맞추어 분리한다
        stdNo = int(temp[0])
        student.append(stdNo)
        student.append(temp[1])
        for ele in temp[2:8]:
            val = int(ele)
            student.append(val)
        # 5.분리한 데이터를 리스트에 저장한다.
        for ele in temp[8:]:
            student.append(ele)
        # 6.리스트를 리스트에 저장한다.
        students.append(student)
    return students

In [39]:
students = makeDataFromFile('.\data','Abc1115.csv')
print(len(students))
for student in students[:10]:
    print(student)

1000
[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']
[990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A']
[990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A']
[990004, 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C']
[990005, 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A']
[990006, 'sj24', 27, 65, 54, 77, 33, 256, 'B', 'A', 'A']
[990007, 'kor2', 33, 85, 98, 60, 66, 342, 'A', 'B', 'A']
[990008, 'vsky', 41, 5, 99, 14, 67, 226, 'C', 'A', 'C']
[990009, 'kimd', 74, 4, 1, 33, 53, 165, 'B', 'C', 'A']
[990010, 'blue', 55, 84, 50, 89, 37, 315, 'A', 'B', 'A']

In [40]:
students.sort(key=lambda x : [-x[7],x[0]])

In [41]:
for student in students[:10]:
    print(student)

[990364, 'ywjs', 88, 81, 100, 84, 81, 434, 'B', 'C', 'A']
[990051, 'soor', 94, 98, 85, 64, 75, 416, 'A', 'B', 'A']
[990422, 'itkz', 93, 97, 74, 69, 80, 413, 'C', 'B', 'B']
[990039, 'huff', 52, 99, 97, 87, 72, 407, 'A', 'C', 'A']
[990659, 'pete', 100, 98, 77, 44, 85, 404, 'B', 'C', 'C']
[990753, 'firs', 82, 58, 93, 86, 83, 402, 'A', 'C', 'B']
[990865, 'hysu', 54, 96, 96, 55, 95, 396, 'C', 'A', 'A']
[990710, 'kleo', 85, 87, 49, 76, 98, 395, 'B', 'C', 'B']
[990014, 'oldn', 83, 89, 67, 67, 87, 393, 'B', 'C', 'A']
[990440, 'gino', 59, 67, 91, 81, 95, 393, 'A', 'B', 'A']