In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [40]:
df = pd.read_csv('../doit_pandas-master/data/gapminder.tsv',sep='\t')

In [5]:
df.shape

(1704, 6)

In [19]:
df

                     Occupation        Born  Age
Rosaline Franklin       Chemist  1920-07-25   27
William Gosset     Statistician  1876-06-13   61

In [6]:
#C(생성,추가)RUD
s = pd.Series(['banana',42])

In [8]:
print(s)

0    banana
1        42
dtype: object

In [11]:
s1 = pd.Series(['Wes Mckinney','Creator of Pandas'],index=['Person','Who'])

In [12]:
print(s1)

Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

In [13]:
df = pd.DataFrame(
    data={'Occupation':['Chemist','Statistician'],
         'Born':['1920-07-25','1876-06-13'],
         'Age':[27,61]},
    index=['Rosaline Franklin','William Gosset'],
    columns=['Occupation','Born','Age']
)

In [14]:
print(df)

                     Occupation        Born  Age
Rosaline Franklin       Chemist  1920-07-25   27
William Gosset     Statistician  1876-06-13   61

In [17]:
df.loc['Rosaline Franklin',:]
#df.loc[:,'Age']

Occupation       Chemist
Born          1920-07-25
Age                   27
Name: Rosaline Franklin, dtype: object

In [18]:
#df.loc['Rosaline Franklin',:]
df.loc[:,'Age']

Rosaline Franklin    27
William Gosset       61
Name: Age, dtype: int64

In [20]:
ages = df.loc[:,'Age']

In [21]:
ages

Rosaline Franklin    27
William Gosset       61
Name: Age, dtype: int64

In [23]:
print(ages.max())

61

In [25]:
print(ages.std())

24.041630560342615

In [29]:
gisa = pd.read_csv('./data/Abc1115.csv',header=None)

In [30]:
gisa.describe()

,0,2,3,4,5,6,7
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,990500.500000,50.026000,49.543000,50.920000,51.275000,50.915000,252.679000
std,288.819436,28.498904,29.046684,29.288178,28.770664,28.434456,65.199179
min,990001.000000,1.000000,1.000000,1.000000,1.000000,1.000000,67.000000
25%,990250.750000,26.000000,25.000000,25.000000,26.000000,25.000000,207.000000
50%,990500.500000,48.000000,49.000000,50.000000,52.000000,52.000000,251.000000
75%,990750.250000,75.000000,74.000000,76.000000,76.000000,75.000000,298.000000
max,991000.000000,100.000000,100.000000,100.000000,100.000000,100.000000,434.000000

In [31]:
scientists = pd.read_csv('../doit_pandas-master/data/scientists.csv')

In [32]:
ages = scientists['Age']

In [36]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [37]:
ages>ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [41]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [45]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [46]:
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64