In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [ ]:
dataframe = pd.read_csv('../doit_pandas-master/data/gapminder.tsv',sep='\t')

In [ ]:
print(dataframe.head())

In [ ]:
gisa_df = pd.read_csv('.\data\Abc1115.csv')

In [ ]:
gisa_df.head()

In [ ]:
type(gisa_df)

In [ ]:
dataframe.head()

In [ ]:
dataframe.tail(12)

In [ ]:
dataframe.shape

In [ ]:
dataframe.columns

In [ ]:
dataframe.info()

In [ ]:
df_country = dataframe['country']

In [ ]:
type(df_country)

In [ ]:
tlist = [
    [1,2],
    [3,4]
]

In [ ]:
print(tlist[0][0])
print(tlist[1][0])

In [ ]:
df_two = dataframe[['country','year']]

In [ ]:
type(df_two)

In [3]:
df = pd.read_csv('../doit_pandas-master/data/gapminder.tsv',sep='\t')

In [ ]:
df_test = pd.read_csv('./data/Abc1115.csv')

In [ ]:
df_test.head()

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df[['country','year']]

In [ ]:
print(df.loc[0,'country'])
print(df.loc[1,'country'])

In [12]:
print(df.loc[0:5]['country'])
#print(df.loc[-1]['country'])

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
Name: country, dtype: object

In [6]:
print(df.loc[0][0])
print(df.loc[1][0])

Afghanistan
Afghanistan

C:\Users\user\AppData\Local\Temp\ipykernel_14524\47256502.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.loc[0][0])
C:\Users\user\AppData\Local\Temp\ipykernel_14524\47256502.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.loc[1][0])

In [5]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [15]:
print(df.iloc[:,0])
#print(df.iloc[1,0])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [16]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [19]:
df.iloc[99,:]
#df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [22]:
#df의 첫번째 10번째 100번째 정보를 모두 출력하시오.
df.iloc[[0,9,99],:]

        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
9   Afghanistan      Asia  1997   41.763  22227415  635.341351
99   Bangladesh      Asia  1967   43.453  62821884  721.186086

In [24]:
#df의 첫번째 10번째 100번째 정보를 country,lifeExp,pop를 출력하시오.
df.iloc[[0,9,99],[0,3,4]]

        country  lifeExp       pop
0   Afghanistan   28.801   8425333
9   Afghanistan   41.763  22227415
99   Bangladesh   43.453  62821884

In [25]:
#df의 첫번째 10번째 100번째 정보를 country,lifeExp,pop를 출력하시오.
df.loc[[0,9,99],['country','lifeExp','pop']]

        country  lifeExp       pop
0   Afghanistan   28.801   8425333
9   Afghanistan   41.763  22227415
99   Bangladesh   43.453  62821884

In [27]:
#df의 연속적으로 첫번째에서 10번째 정보를 country,lifeExp,pop를 출력하시오.
df.iloc[:10,[0,3,4]]

       country  lifeExp       pop
0  Afghanistan   28.801   8425333
1  Afghanistan   30.332   9240934
2  Afghanistan   31.997  10267083
3  Afghanistan   34.020  11537966
4  Afghanistan   36.088  13079460
5  Afghanistan   38.438  14880372
6  Afghanistan   39.854  12881816
7  Afghanistan   40.822  13867957
8  Afghanistan   41.674  16317921
9  Afghanistan   41.763  22227415