In [ ]:
def makeDataFromFile(directory,fileName):
    students = [] # 파일에 있는 데이터를 저장하는 2차원 리스트 
    
    return students

In [ ]:
def solveQuiz1(data):
    answer = None
    
    return answer

In [ ]:
def solveQuiz2(data):
    answer = None
    return answer

In [ ]:
def solveQuiz3(data):
    answer = None
    return answer

In [ ]:
def solveQuiz4(data):
    answer = None
    return answer

In [ ]:
def marking(quizNo,answer):

    pass

In [ ]:
#실행함수
def goToTestCenter():
    data = makeDataFromFile('','')
    answer = solveQuiz1(data)
    marking(1,answer)
    answer = solveQuiz2(data)
    marking(2,answer)
    answer = solveQuiz3(data)
    marking(3,answer)
    answer = solveQuiz4(data)
    marking(4,answer)
    pass

In [1]:
import pandas as pd

In [5]:
gisa_df = pd.read_csv('.\data\Abc1115.csv',header=None)

In [6]:
gisa_df.head()

       0     1   2   3   4   5   6    7  8  9  10
0  990001  addx  17  29  16  49  43  154  C  A  C
1  990002  stch  30   9  48  25  81  193  C  A  A
2  990003  gali  93  60   6  84  36  279  A  C  A
3  990004  miat  73  22  48  24  72  239  B  C  C
4  990005  oran  33  38  59  58  28  216  C  B  A

In [8]:
gisa_df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [11]:
gisa_df.columns = ['stdNo','email','kor','eng',
                   'math','sci','hist','total','mgrCode','accCode','localCode']

In [12]:
gisa_df.shape

(1000, 11)

In [10]:
gisa_df.head()

    stdNo email  kor  eng  math  sci  hist  total mgrCode accCode localCode
0  990001  addx   17   29    16   49    43    154       C       A         C
1  990002  stch   30    9    48   25    81    193       C       A         A
2  990003  gali   93   60     6   84    36    279       A       C         A
3  990004  miat   73   22    48   24    72    239       B       C         C
4  990005  oran   33   38    59   58    28    216       C       B         A

In [13]:
gisa_q1 = gisa_df[gisa_df['localCode']=='B']

In [15]:
gisa_q1.shape

(300, 11)

In [ ]:
gisa_q1 = gisa_df[gisa_df['localCode']=='B']

In [19]:
gisa_q1.loc[:,'q1_data'] = gisa_q1['kor']+gisa_q1['eng']

In [24]:
answer1 = gisa_q1.sort_values(by=['q1_data','stdNo'],ascending=[False,True])

In [30]:
gisa_q1.head()

,stdNo,email,kor,eng,math,sci,hist,total,mgrCode,accCode,localCode,q1_data
20,990021,equi,13,95,56,93,88,345,B,C,B,108
22,990023,tess,86,71,87,6,15,265,B,C,B,157
24,990025,lyj2,24,90,72,29,52,267,B,A,B,114
25,990026,netm,65,4,4,23,45,141,B,C,B,69
28,990029,minh,3,11,89,71,88,262,B,C,B,14

In [32]:
answer1 = answer1.reset_index()

In [34]:
answer1.loc[10:20,['stdNo','q1_data']]

     stdNo  q1_data
10  990631      164
11  990747      163
12  990891      163
13  990935      161
14  990350      159
15  990470      159
16  990023      157
17  990217      157
18  990418      153
19  990424      153
20  990289      152

In [40]:
temp = answer1.loc[4,'stdNo']
print(temp)

990490