In [1]:
def makeDataFromFile(directory,fileName):
    students = [] # 파일에 있는 데이터를 저장하는 2차원 리스트 
    
    return students

In [2]:
def solveQuiz1(data):
    answer = None
    
    return answer

In [3]:
def solveQuiz2(data):
    answer = None
    return answer

In [4]:
def solveQuiz3(data):
    answer = None
    return answer

In [5]:
def solveQuiz4(data):
    answer = None
    return answer

In [6]:
def marking(quizNo,answer):

    pass

In [7]:
#실행함수
def goToTestCenter():
    data = makeDataFromFile('','')
    answer = solveQuiz1(data)
    marking(1,answer)
    answer = solveQuiz2(data)
    marking(2,answer)
    answer = solveQuiz3(data)
    marking(3,answer)
    answer = solveQuiz4(data)
    marking(4,answer)
    pass

In [8]:
import pandas as pd

In [9]:
gisa_df = pd.read_csv('.\data\Abc1115.csv',header=None)

In [10]:
gisa_df.head()

       0     1   2   3   4   5   6    7  8  9  10
0  990001  addx  17  29  16  49  43  154  C  A  C
1  990002  stch  30   9  48  25  81  193  C  A  A
2  990003  gali  93  60   6  84  36  279  A  C  A
3  990004  miat  73  22  48  24  72  239  B  C  C
4  990005  oran  33  38  59  58  28  216  C  B  A

In [11]:
gisa_df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [12]:
gisa_df.columns = ['stdNo','email','kor','eng',
                   'math','sci','hist','total','mgrCode','accCode','localCode']

In [13]:
gisa_df.shape

(1000, 11)

In [14]:
gisa_df.head()

    stdNo email  kor  eng  math  sci  hist  total mgrCode accCode localCode
0  990001  addx   17   29    16   49    43    154       C       A         C
1  990002  stch   30    9    48   25    81    193       C       A         A
2  990003  gali   93   60     6   84    36    279       A       C         A
3  990004  miat   73   22    48   24    72    239       B       C         C
4  990005  oran   33   38    59   58    28    216       C       B         A

In [15]:
gisa_q1 = gisa_df[gisa_df['localCode']=='B']

In [16]:
gisa_q1.shape

(300, 11)

In [17]:
gisa_q1 = gisa_df[gisa_df['localCode']=='B']

In [18]:
gisa_q1.loc[:,'q1_data'] = gisa_q1['kor']+gisa_q1['eng']

C:\Users\user\AppData\Local\Temp\ipykernel_16048\4096089539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gisa_q1.loc[:,'q1_data'] = gisa_q1['kor']+gisa_q1['eng']

In [19]:
answer1 = gisa_q1.sort_values(by=['q1_data','stdNo'],ascending=[False,True])

In [28]:
gisa_q1.shape

(300, 12)

In [20]:
gisa_q1.head()

,stdNo,email,kor,eng,math,sci,hist,total,mgrCode,accCode,localCode,q1_data
20,990021,equi,13,95,56,93,88,345,B,C,B,108
22,990023,tess,86,71,87,6,15,265,B,C,B,157
24,990025,lyj2,24,90,72,29,52,267,B,A,B,114
25,990026,netm,65,4,4,23,45,141,B,C,B,69
28,990029,minh,3,11,89,71,88,262,B,C,B,14

In [21]:
answer1 = answer1.reset_index()

In [25]:
answer1.loc[:10,['stdNo','q1_data']]

     stdNo  q1_data
0   990949      192
1   990422      190
2   990938      187
3   990491      184
4   990490      180
5   990066      175
6   990710      172
7   990852      172
8   990595      169
9   990907      166
10  990631      164

In [23]:
temp = answer1.loc[4,'stdNo']
print(temp)

990490

In [27]:
temp = answer1.loc[0,'q1_data']
print(temp)

192

In [31]:
temp = gisa_q1['q1_data'].max()
print(temp)

192

In [32]:
gisa_q3 = gisa_df[gisa_df['eng']+gisa_df['math']>=120]

In [33]:
gisa_q3.shape

(316, 11)

In [ ]:
# 1. lamda
# 2. 3항 연산자
# 3. 축(기준)
# 4. apply 함수 (map함수와 같은 개념이다.)

In [37]:
gisa_q3.loc[:,'point'] = gisa_q3.apply(lambda x :x['total']+5 if x['accCode']=='A' else 
                                           x['total']+15 if x['accCode']=='B' else
                                           x['total']+20, axis=1)

In [38]:
gisa_q3.head(3)

,stdNo,email,kor,eng,math,sci,hist,total,mgrCode,accCode,localCode,point
6,990007,kor2,33,85,98,60,66,342,A,B,A,357
9,990010,blue,55,84,50,89,37,315,A,B,A,330
10,990011,moja,43,69,68,23,92,295,B,A,C,300

In [42]:
temp  = gisa_q3['point'].sum()
print(temp)
gisa_q3['point'].sum()

99549

np.int64(99549)

In [40]:
gisa_q3.point.sum()

np.int64(99549)

In [41]:
sum(gisa_q3['point'])

99549

In [43]:
sum(gisa_q3.point)

99549